@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  background-image: url("../assets/Images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#apply{
  background-image: url("../assets/images/apply.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  outline: 2px solid black;
  width: 128px;
  height: 28px;

}
#delete{
  background-image: url("../assets/Images/cancel.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  outline: 2px solid black;
  width: 128px;
  height: 28px;

}